Variables in Python

In [26]:
x = 22 # x is a variable where we assign a value to it 
print(x)

22

In [18]:
type(x) # we asked what kind of type is x and it says that it is number

int

In [22]:
y = 'Mint Chocolate Chip'
print(y)

Mint Chocolate Chip

In [24]:
type(y) # now it says here that y variable consists of a string or text

str

In [9]:
y = 'Chocolate' # it over writes the first y variable so it it's important to take note of that
y = 'Mint Chocolate Chip' # but since here we put the y variable in the second line then python will follow that, whatever comes before the print func.
Y = 'Mint' # it is also case sensitive so you need to keep an eye out on uppercase and lowercase letters

print(Y)

Mint

In [44]:
x,y,z = 'Chocolate', 'Vanilla', 'Rocky Road'

print(x,y,z)
print(x)
print(y)
print(z)

Chocolate Vanilla Rocky Road
Chocolate
Vanilla
Rocky Road

In [46]:
x = y = z = 'Root Beer Float'

print(x,y,z)
print(x)
print(y)
print(z)

Root Beer Float Root Beer Float Root Beer Float
Root Beer Float
Root Beer Float
Root Beer Float

In [11]:
ice_cream = ['Chocolate', 'Vanilla', 'Rocky Road']
x,y,z = ice_cream

print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [ ]:
# Camel Case # the first letter of the variable is in lowercase

#Test Variable Case

testVariableCase = 'Vanilla Swirl'

In [ ]:
# Pascal Case # all first letter of the variable is in uppercase

#Test Variable Case

TestVariableCase = 'Vanilla Swirl'

In [ ]:
# Snake Case # all words are separated by underscore

#Test Variable Case

test_variable_case = 'Vanilla Swirl'

In [ ]:
testvar = 'Vanilla Swirl' # you can do all of this although some are semi-frowned upon
test_var = 'Vanilla Swirl'
_test_var = 'Vanilla Swirl'
testVar = 'Vanilla Swirl'
TestVar = 'Vanilla Swirl'
testVar2 = 'Vanilla Swirl'

In [ ]:
2testVar = 'Vanilla Swirl' #you can't do all of these cause it will not work along with other symbols
test-Var2 = 'Vanilla Swirl'
test Var2 = 'Vanilla Swirl'
test,Var2 = 'Vanilla Swirl'

In [13]:
x = 'Ice Cream is my favorite' + '.' # you cannot concatenate integers to strings 
print(x)

Ice Cream is my favorite..

In [71]:
y = 3 + 2 # you can concat integers to integers
print(y)

5

In [21]:
x = 'Ice Cream'
y = ' is'
z = ' my favorite.'
print(x+y+z)

Ice Cream is my favorite.

In [77]:
x = 1
y = 2
z = 3
print(x+y+z)

6

In [25]:
x = 'Ice Cream' # you can do this because you did not add a value that should have mathematical result but still consider as text only
y = 2
print(x,y) # just use comma

Ice Cream 2